.save {
    display: flex;
    justify-content: center;
}

.save__btn {
    font-size: 1.2rem;
    color: currentColor;
    background-color: transparent;
    border: 0;
}

.save__btn:not(:disabled):hover {
    opacity: 0.75;
}

/*theme*/

.app_theme_dark .save__btn {
    color: var(--theme-black-color);
}
