@keyframes stormy {
    from {
        background-color: var(--theme-black-bg);
    }

    50% {
        background-color: white;
    }

    to {
        background-color: var(--theme-black-bg);
    }
}
