.btn {
    border-radius: 2px;
    transition: all 0.3s ease;
}

.btn:not(:disabled):focus {
    outline-offset: 5px;
    outline: 2px solid blue;
}

.btn:not(:disabled):hover {
    opacity: 0.75;
    cursor: pointer;
}

.app_theme_dark button:not(:disabled):focus {
    outline-color: orange;
}
