.fa-sun {
    color: #f9c900;
}

.fa-droplet {
    color: #c2eaf8;
}

.fa-wind {
    color: linen;
}

.weather-icon {
    display: inline-block;

    width: 40px;
    height: 30px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.weather-icon_type_sunny {
    background-image: url('./assets/sunny.svg');
}

.weather-icon_type_cloudly {
    background-image: url('./assets/cloudly.svg');
}

.weather-icon_type_partlySunny {
    background-image: url('./assets/partlySunny.svg');
}

.weather-icon_type_rain {
    background-image: url('./assets/rain.svg');
}

.weather-icon_type_chanceRain {
    background-image: url('./assets/chanceRain.svg');
}

.weather-icon_type_chanceStorm {
    background-image: url('./assets/chanceStorm.svg');
}

.weather-icon_type_snow {
    background-image: url('./assets/snow-dark.svg');
}

.app_weather_clouds:not(.app_theme_dark) .fa-droplet {
    color: #3e86a2;
}

.app_weather_clouds:not(.app_theme_dark) .fa-wind {
    color: #9e9e9e;
}

.app_weather_clouds:not(.app_theme_dark) .fa-sun {
    color: #fcf73f;
}
