input {
    padding: 2px;

    color: currentcolor;

    background-color: transparent;
    border: 2px solid currentcolor;
    border-radius: 6px;
}

input:focus {
    outline: 2px solid blue;
    outline-offset: 2px;
}

.app_theme_dark input:focus {
    outline-color: orange;
}
