.week__table {
    width: 100%;
}

.week__weather-icon {
    text-align: center;
}

.week__temperature {
    display: flex;
    column-gap: 10px;
    justify-content: end;
    font-weight: 500;
}

.week__certain {
    font-weight: 500;
    font-style: italic;
}
