.app {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(100px, auto) 1fr minmax(100px, auto);
    grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);
    gap: 25px;
    transition: background-color 0.2s ease;
}

.app_weather_clear {
    background: var(--weather-bg-sunny);
}

.app_weather_storm {
    background: var(--weather-bg-storm);
}

.app_weather_storm {
    color: var(--text-secondary);
}

.app_weather_rain {
    background: var(--weather-bg-rainy);
    color: var(--text-secondary);
}

.app_weather_rain input {
    border-color: var(--text-secondary);
}

.app_weather_clouds {
    background: var(--weather-bg-cloudy);
}

.app_weather_clouds .weather-icon_type_rain {
    background-image: url('../../icons/rain-dark.svg');
}

.app_theme_dark {
    background: var(--theme-black-bg);
    color: var(--theme-black-color);
}

.app_theme_dark a {
    color: white;
}

.app_theme_dark input {
    color: var(--theme-black-color);
    border: 2px solid var(--theme-black-color);
}

.app_theme_dark input::placeholder {
    color: currentColor;
    opacity: 0.75;
}

.app__header {
    grid-row: 1;
    grid-column: 2;
}

.app__main {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-areas:
        'date .'
        'city favs'
        'city .'
        'city .';
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.app__footer {
    grid-column: 2;
    grid-row: 3;
}
