* {
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(100px, auto) 1fr minmax(100px, auto);
    grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);
    transition: background-color .5s ease;
}

.app_theme_light a {
    color: black;
}

.app_theme_dark {
    background-color: var(--theme-black-bg);
    color: var(--theme-black-color);
}

.app_theme_dark .favs {
    outline: 1px dashed white;
}

.app_theme_dark a {
    color: white;
}

.app_theme_dark input {
    background-color: var(--theme-black-color);
    color: var(--theme-black-bg);
    border-color: transparent;
}

.app__header {
    grid-row: 1;
    grid-column: 2;
}

.app__main {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-areas:
          'date search search favs'
          'city city city favs'
          'city city city favs'
          'city city city favs';
    grid-template-columns: 1fr 1fr 1fr minmax(200px, auto);
    grid-gap: 20px;
}

.app__footer {
    grid-column: 2;
    grid-row: 3;
}
