.app {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 12px;

  min-height: 100vh;

  background-color: #eceef2;

  transition: background-color 0.35s ease-out;
}

.app_weather_clear {
  background: var(--weather-bg-sunny);
}

.app_weather_storm {
  color: var(--text-secondary);
  background: var(--weather-bg-storm);
}

.app_weather_rain {
  color: var(--text-secondary);
  background: var(--weather-bg-rainy);
}

.app_weather_rain input {
  border-color: var(--text-secondary);
}

.app_weather_clouds {
  background: var(--weather-bg-cloudy);
}

.app_weather_clouds .weather-icon_type_rain {
  background-image: url('../assets/icons/rain-dark.svg');
}

.app_theme_dark {
  color: var(--color-theme-black);
  background: var(--bg-theme-black);
}

.app_theme_dark a {
  color: white;
}

.app_theme_dark input {
  color: var(--text-main);
}

.app_theme_dark .box {
  background-color: rgb(255 255 255 / 10%);
}

.app_theme_light .box {
  background-color: rgb(255 255 255 / 50%);
}

.app__header {
  grid-column: 2;
  grid-row: 1;
}

.app__main {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  grid-template-areas:
        'date .'
        'city favs';
  grid-template-columns: 1fr minmax(auto, 300px);
  row-gap: 16px;
}

.app__main_mono {
  grid-template-areas:
          'date'
          'city';
  grid-template-columns: 1fr;
}

.app__favs {
  margin-left: 24px;
}

.app__empty {
  font-size: 24px;
  text-align: center;
}

.app__footer {
  grid-column: 2;
  grid-row: 3;
  margin-top: 1rem;
}

@media (min-width: 1440px) {
  .app {
    grid-template-columns: minmax(auto, 30%) 1fr minmax(auto, 30%);
  }
}


@media (max-width: 1024px) {
  .app {
    grid-template-columns: minmax(auto, 75px) 1fr minmax(auto, 75px);
  }
}
