.lightnings-enter .app_weather_storm *,
.lightnings-enter .app_weather_thunderstorm * {
    position: relative;
    z-index: 30;
}

.lightnings-enter-active .app_weather_storm *,
.lightnings-enter-active .app_weather_thunderstorm * {
    color: white;
}

.lightnings-enter .app::before {
    position: absolute;
    inset: 0;
    z-index: 10;
    content: '';

    animation-name: stormy;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.lightnings-enter-active .app::after {
    position: absolute;
    top: 0;
    z-index: 15;

    width: 100%;
    height: 100%;
    content: '';

    background-image: url('../../../assets/thunder.svg');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
}
