.switch-favorite {
    display: flex;
    justify-content: center;
}

.switch-favorite__btn {
    font-size: 1.2rem;
    color: currentcolor;
    background-color: transparent;
    border: 0;
}

/* theme */

.app_theme_dark .switch-favorite__btn {
    color: var(--color-theme-black);
}

.switch-favorite__btn:not(:disabled):hover {
    opacity: 0.75;
}

