.search {
  @include complex-border(var(--text-main), true);
}

.search_animated {
  @include complex-border();
}

.search__wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  gap: 5px;
  align-items: center;

  background-color: #eceef2;
  border-radius: 4px;
}

.search__icon {
  position: absolute;
  left: 10px;
  font-size: 1.25rem;
}

.search__input {
  min-height: 2.75rem;
  padding-right: 80px;
  padding-left: 40px;

  font-size: 1.125rem;

  border: none;

  &:focus {
    outline-width: 5px;
    outline-offset: 0;
  }
}

.search__input::placeholder {
  color: currentcolor;
}

.keyboard-keys {
  position: absolute;
  right: 8px;

  display: flex;
  gap: 5px;

  min-width: calc(40px + 0.8em);

  opacity: 1;

  transition: all 0.35s ease;
}

.keyboard-keys_hide {
  opacity: 0;
  animation: key-press 0.35s ease-in-out;
}

.keyboard-keys__key {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding-bottom: 2px;

  font-weight: 500;
  color: var(--text-main);

  background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgb(30 35 90 / 40%);
}
