.search {
    grid-area: search;
}

.search__flex-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search__icon {
    font-size: 1.25rem;
}

.search__input {
    font-size: 1.125rem;
    min-height: 2.75rem;
}

.search__input::placeholder {
    color: currentColor;
}
