* {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(100px, auto) 1fr minmax(100px, auto);
  grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);
  place-items: center;
}

.app_theme_dark {
  background-color: #000;
  color: #fff;
}

.app__header {
  grid-row: 1;
  grid-column: 2;
}

.app__main {
  grid-column: 2;
  grid-row: 2;
}

.app__footer {
  grid-column: 2;
  grid-row: 3;
}
