@keyframes stormy {
    0% {
        background-color: var(--theme-black-bg);
    }

    50% {
        background-color: white;
    }

    100% {
        background-color: var(--theme-black-bg);
    }
}
