#stars {
    width: 1px;
    max-height: 1px;
    box-shadow: 1492px 1206px #fff, 1636px 1033px #fff, 336px 1680px #fff, 1349px 1455px #fff, 1796px 436px #fff, 195px 994px #fff,
        1289px 1333px #fff, 1671px 1935px #fff, 659px 1552px #fff, 1992px 192px #fff, 1570px 921px #fff, 1149px 936px #fff,
        1580px 528px #fff, 367px 610px #fff, 712px 243px #fff, 472px 1823px #fff, 232px 1047px #fff, 1485px 1325px #fff,
        1493px 964px #fff, 1796px 922px #fff, 748px 132px #fff, 1368px 1318px #fff, 1394px 1006px #fff, 623px 1088px #fff,
        1978px 1657px #fff, 67px 1187px #fff, 1972px 1472px #fff, 1105px 1123px #fff, 440px 99px #fff, 268px 302px #fff,
        1561px 1828px #fff, 1655px 459px #fff, 123px 371px #fff, 934px 1065px #fff, 109px 951px #fff, 775px 736px #fff,
        387px 1754px #fff, 1996px 694px #fff, 1715px 317px #fff, 336px 203px #fff, 529px 117px #fff, 1230px 777px #fff,
        1277px 618px #fff, 1519px 1364px #fff, 855px 253px #fff, 987px 1941px #fff, 52px 211px #fff, 1336px 877px #fff,
        560px 1171px #fff, 1485px 440px #fff, 525px 332px #fff, 54px 30px #fff, 479px 1287px #fff, 647px 130px #fff,
        740px 1838px #fff, 1851px 1684px #fff, 22px 896px #fff, 393px 1708px #fff, 481px 313px #fff, 1605px 770px #fff,
        1974px 1659px #fff, 215px 247px #fff, 1524px 1663px #fff, 350px 1887px #fff, 1739px 1448px #fff, 1281px 1052px #fff,
        1712px 33px #fff, 1909px 1162px #fff, 508px 1008px #fff, 194px 119px #fff, 513px 1031px #fff, 1936px 754px #fff,
        1296px 123px #fff, 324px 735px #fff, 1720px 1116px #fff, 214px 1596px #fff, 1449px 1593px #fff, 1997px 1747px #fff,
        311px 776px #fff, 701px 587px #fff, 239px 1472px #fff, 1225px 638px #fff, 682px 19px #fff, 115px 1826px #fff,
        1344px 1964px #fff, 901px 1794px #fff, 1442px 1693px #fff, 416px 1968px #fff, 111px 538px #fff, 689px 829px #fff,
        955px 246px #fff, 1038px 1386px #fff, 1819px 1147px #fff, 798px 1721px #fff, 1975px 1334px #fff, 448px 204px #fff,
        1700px 581px #fff, 1377px 467px #fff, 1203px 1793px #fff, 693px 781px #fff, 1987px 222px #fff, 738px 1851px #fff,
        1003px 552px #fff, 1006px 1007px #fff, 897px 1891px #fff, 1157px 282px #fff, 130px 604px #fff, 1593px 515px #fff,
        1897px 1729px #fff, 1326px 1258px #fff, 1721px 194px #fff, 609px 1311px #fff, 1309px 238px #fff, 807px 645px #fff,
        1320px 261px #fff, 790px 1732px #fff, 423px 1375px #fff, 1236px 42px #fff, 1588px 1401px #fff, 1623px 132px #fff,
        688px 1948px #fff, 1796px 1150px #fff, 827px 761px #fff, 497px 1600px #fff, 220px 1672px #fff, 575px 1667px #fff,
        583px 1991px #fff, 711px 415px #fff, 1707px 699px #fff, 1229px 1417px #fff, 95px 1737px #fff, 647px 129px #fff,
        1438px 1539px #fff, 39px 1441px #fff, 1331px 557px #fff, 635px 1551px #fff, 1303px 229px #fff, 1428px 1642px #fff,
        62px 193px #fff, 664px 1201px #fff, 817px 935px #fff, 906px 96px #fff, 566px 1783px #fff, 1102px 655px #fff,
        164px 1465px #fff, 1051px 891px #fff, 1355px 1815px #fff, 1365px 327px #fff, 473px 1374px #fff, 102px 651px #fff,
        123px 302px #fff, 269px 12px #fff, 1176px 128px #fff, 863px 1150px #fff, 762px 622px #fff, 333px 62px #fff,
        1558px 306px #fff, 1631px 97px #fff, 824px 975px #fff, 179px 320px #fff, 1724px 1530px #fff, 677px 1454px #fff,
        463px 499px #fff, 462px 1445px #fff, 201px 1017px #fff, 281px 140px #fff, 53px 1641px #fff, 123px 1848px #fff,
        282px 311px #fff, 619px 1074px #fff, 1590px 1010px #fff, 1907px 358px #fff, 1019px 610px #fff, 1721px 1285px #fff,
        1293px 248px #fff, 1586px 1030px #fff, 1517px 1397px #fff, 37px 165px #fff, 268px 1642px #fff, 1010px 1199px #fff,
        1816px 1195px #fff, 762px 153px #fff, 560px 1794px #fff, 1374px 1699px #fff, 354px 945px #fff, 33px 1137px #fff,
        1904px 396px #fff, 266px 256px #fff, 338px 1493px #fff, 1214px 855px #fff, 1794px 1374px #fff, 1175px 461px #fff,
        1714px 432px #fff, 1112px 485px #fff, 299px 687px #fff, 1769px 1433px #fff, 178px 351px #fff, 797px 1745px #fff,
        1792px 332px #fff, 1298px 1820px #fff, 372px 1430px #fff, 1173px 1799px #fff, 86px 945px #fff, 170px 1454px #fff,
        705px 1565px #fff, 1580px 642px #fff, 873px 1251px #fff, 956px 757px #fff, 784px 839px #fff, 1947px 1822px #fff,
        727px 324px #fff, 446px 1072px #fff, 599px 1869px #fff, 624px 19px #fff, 1005px 677px #fff, 1827px 1732px #fff,
        174px 1354px #fff, 1329px 1603px #fff, 724px 1230px #fff, 1725px 1199px #fff, 124px 1433px #fff, 474px 817px #fff,
        1737px 217px #fff, 1771px 118px #fff, 1915px 1636px #fff, 1052px 1304px #fff, 67px 1616px #fff, 1986px 1045px #fff,
        1910px 141px #fff, 207px 1097px #fff, 882px 695px #fff, 977px 1011px #fff, 761px 1510px #fff, 1333px 1622px #fff,
        528px 742px #fff, 673px 1342px #fff, 526px 273px #fff, 352px 1322px #fff, 1292px 718px #fff, 1993px 885px #fff,
        753px 866px #fff, 359px 1348px #fff, 512px 1587px #fff, 1442px 1721px #fff, 680px 144px #fff, 1791px 1772px #fff,
        331px 145px #fff, 790px 1756px #fff, 272px 817px #fff, 1225px 890px #fff, 1192px 1309px #fff, 1868px 323px #fff,
        1698px 536px #fff, 1406px 1976px #fff, 1220px 1682px #fff, 1244px 1441px #fff, 1608px 586px #fff, 1043px 59px #fff,
        974px 433px #fff, 172px 157px #fff, 1952px 1019px #fff, 1155px 835px #fff, 794px 1462px #fff, 1794px 1449px #fff,
        1683px 1647px #fff, 1729px 1831px #fff, 1407px 862px #fff, 278px 220px #fff, 109px 1322px #fff, 439px 1475px #fff,
        522px 621px #fff, 1554px 1984px #fff, 564px 248px #fff, 325px 34px #fff, 400px 1828px #fff, 1498px 421px #fff,
        1305px 233px #fff, 1437px 1828px #fff, 415px 80px #fff, 1507px 1430px #fff, 1894px 632px #fff, 532px 1790px #fff,
        170px 241px #fff, 1571px 1030px #fff, 857px 1785px #fff, 1033px 569px #fff, 1282px 31px #fff, 1964px 1124px #fff,
        189px 834px #fff, 952px 1435px #fff, 1019px 1739px #fff, 1484px 925px #fff, 616px 1558px #fff, 1974px 402px #fff,
        140px 1997px #fff, 1149px 1422px #fff, 1377px 509px #fff, 808px 1227px #fff, 928px 1206px #fff, 1456px 1200px #fff,
        775px 521px #fff, 1466px 1793px #fff, 754px 73px #fff, 719px 774px #fff, 1777px 540px #fff, 1836px 136px #fff,
        1958px 1173px #fff, 340px 1790px #fff, 1433px 486px #fff, 1243px 821px #fff, 289px 1120px #fff, 489px 188px #fff,
        731px 154px #fff, 964px 988px #fff, 1625px 132px #fff, 1838px 3px #fff, 1039px 639px #fff, 1266px 1572px #fff,
        1253px 1951px #fff, 1941px 1017px #fff, 715px 314px #fff, 517px 1899px #fff, 611px 1862px #fff, 1954px 780px #fff,
        112px 190px #fff, 1492px 44px #fff, 1690px 228px #fff, 417px 881px #fff, 381px 373px #fff, 1461px 1533px #fff,
        1036px 1098px #fff, 538px 1361px #fff, 175px 914px #fff, 1175px 1928px #fff, 548px 910px #fff, 1356px 1191px #fff,
        1406px 1018px #fff, 1884px 1446px #fff, 1236px 1058px #fff, 1310px 1171px #fff, 1072px 1694px #fff, 1113px 53px #fff,
        1339px 1106px #fff, 1319px 139px #fff, 603px 1227px #fff, 253px 422px #fff, 529px 432px #fff, 1138px 1502px #fff,
        237px 595px #fff, 876px 834px #fff, 971px 1428px #fff, 1805px 1492px #fff, 588px 33px #fff, 1087px 195px #fff,
        1022px 527px #fff, 1751px 290px #fff, 1455px 1203px #fff, 751px 1780px #fff, 163px 218px #fff, 1945px 793px #fff,
        1896px 341px #fff, 322px 1052px #fff, 1385px 1021px #fff, 1271px 795px #fff, 163px 587px #fff, 1965px 637px #fff,
        495px 1419px #fff, 109px 948px #fff, 1923px 959px #fff, 1135px 49px #fff, 1972px 1460px #fff, 50px 485px #fff,
        1805px 131px #fff, 1244px 810px #fff, 971px 1684px #fff, 1883px 954px #fff, 36px 1542px #fff, 99px 184px #fff,
        123px 1708px #fff, 379px 1410px #fff, 1111px 485px #fff, 622px 695px #fff, 94px 565px #fff, 1688px 258px #fff,
        72px 1891px #fff, 139px 149px #fff, 1875px 91px #fff, 1356px 224px #fff, 1898px 737px #fff, 1778px 1898px #fff,
        560px 78px #fff, 1428px 388px #fff, 854px 1318px #fff, 1488px 1183px #fff, 799px 627px #fff, 1068px 1635px #fff,
        430px 1923px #fff, 1902px 1707px #fff, 1123px 387px #fff, 1253px 655px #fff, 1163px 1104px #fff, 1024px 1078px #fff,
        1832px 381px #fff, 1631px 332px #fff, 567px 506px #fff, 660px 604px #fff, 1108px 591px #fff, 1219px 1666px #fff,
        1707px 1267px #fff, 942px 1850px #fff, 911px 883px #fff, 211px 71px #fff, 689px 303px #fff, 780px 1274px #fff,
        937px 1233px #fff, 734px 919px #fff, 1588px 1425px #fff, 83px 912px #fff, 471px 272px #fff, 782px 1753px #fff,
        1283px 1258px #fff, 1722px 1330px #fff, 919px 1809px #fff, 1033px 70px #fff, 269px 578px #fff, 1830px 77px #fff,
        1054px 1664px #fff, 309px 1878px #fff, 416px 728px #fff, 1799px 731px #fff, 57px 388px #fff, 800px 765px #fff,
        398px 1505px #fff, 1688px 1316px #fff, 584px 430px #fff, 1679px 20px #fff, 820px 294px #fff, 579px 216px #fff,
        1358px 307px #fff, 705px 183px #fff, 1395px 152px #fff, 108px 620px #fff, 1964px 1137px #fff, 131px 240px #fff,
        405px 1997px #fff, 644px 1757px #fff, 1754px 310px #fff, 1465px 867px #fff, 309px 1399px #fff, 1243px 330px #fff,
        981px 339px #fff, 152px 1936px #fff, 731px 341px #fff, 1849px 489px #fff, 944px 1987px #fff, 1519px 114px #fff,
        66px 1257px #fff, 1643px 262px #fff, 218px 1694px #fff, 596px 323px #fff, 735px 1974px #fff, 1340px 1814px #fff,
        1550px 1694px #fff, 107px 923px #fff, 498px 1446px #fff, 1594px 1535px #fff, 1954px 1547px #fff, 233px 1295px #fff,
        1854px 888px #fff, 1742px 1317px #fff, 1735px 1951px #fff, 1998px 977px #fff, 1556px 1693px #fff, 865px 696px #fff,
        365px 453px #fff, 1689px 1708px #fff, 187px 669px #fff, 166px 1052px #fff, 958px 406px #fff, 1077px 1899px #fff,
        1240px 1454px #fff, 1490px 188px #fff, 1462px 436px #fff, 1980px 1776px #fff, 386px 1182px #fff, 1015px 841px #fff,
        1844px 74px #fff, 1454px 270px #fff, 368px 1243px #fff, 1414px 982px #fff, 1983px 1918px #fff, 1740px 1286px #fff,
        379px 891px #fff, 210px 1286px #fff, 1303px 431px #fff, 759px 1228px #fff, 1635px 1964px #fff, 542px 1642px #fff,
        1403px 952px #fff, 862px 1586px #fff, 1023px 404px #fff, 733px 1074px #fff, 1326px 435px #fff, 549px 996px #fff,
        1816px 1690px #fff, 1493px 635px #fff, 1859px 1703px #fff, 1499px 522px #fff, 883px 38px #fff, 348px 927px #fff,
        138px 1923px #fff, 1435px 491px #fff, 1089px 235px #fff, 261px 642px #fff, 997px 1591px #fff, 1303px 740px #fff,
        710px 512px #fff, 453px 813px #fff, 1362px 964px #fff, 1674px 1779px #fff, 1642px 238px #fff, 552px 1038px #fff,
        1185px 1940px #fff, 1643px 740px #fff, 1376px 634px #fff, 1359px 830px #fff, 690px 1718px #fff, 188px 30px #fff,
        1808px 1597px #fff, 1351px 606px #fff, 616px 1740px #fff, 1568px 671px #fff, 167px 19px #fff, 183px 1438px #fff,
        867px 531px #fff, 529px 446px #fff, 1696px 1416px #fff, 1968px 1915px #fff, 1449px 844px #fff, 1650px 707px #fff,
        1869px 1488px #fff, 223px 584px #fff, 369px 400px #fff, 243px 582px #fff, 1518px 1549px #fff, 1583px 998px #fff,
        750px 526px #fff, 999px 1285px #fff, 681px 1176px #fff, 696px 1352px #fff, 837px 1296px #fff, 1425px 1840px #fff,
        829px 529px #fff, 973px 1081px #fff, 22px 1950px #fff, 1109px 443px #fff, 1060px 60px #fff, 1283px 1953px #fff,
        121px 571px #fff, 1135px 1496px #fff, 1408px 864px #fff, 1474px 1686px #fff, 120px 65px #fff, 585px 1158px #fff,
        1571px 1060px #fff, 1500px 1026px #fff, 1775px 434px #fff, 1985px 1687px #fff, 896px 1991px #fff, 221px 222px #fff,
        577px 712px #fff, 1223px 959px #fff, 1957px 294px #fff, 722px 422px #fff, 1300px 1821px #fff, 963px 1449px #fff,
        760px 1615px #fff, 1116px 626px #fff, 600px 1267px #fff, 95px 1279px #fff, 1472px 1291px #fff, 484px 132px #fff,
        1996px 1310px #fff, 1811px 1495px #fff, 1454px 1039px #fff, 1873px 414px #fff, 1561px 747px #fff, 680px 786px #fff,
        1136px 340px #fff, 965px 814px #fff, 1840px 840px #fff, 1034px 851px #fff, 947px 1992px #fff, 1250px 1439px #fff,
        1911px 621px #fff, 32px 931px #fff, 630px 1641px #fff, 666px 1681px #fff, 21px 1725px #fff, 997px 1220px #fff,
        713px 723px #fff, 1036px 299px #fff, 858px 1894px #fff, 122px 1041px #fff, 1661px 804px #fff, 1635px 67px #fff,
        250px 1536px #fff, 621px 1923px #fff, 947px 306px #fff, 329px 687px #fff, 1475px 85px #fff, 1500px 1099px #fff,
        292px 1138px #fff, 1109px 64px #fff, 74px 622px #fff, 769px 1689px #fff, 1781px 1430px #fff, 204px 940px #fff,
        1370px 828px #fff, 1559px 342px #fff, 44px 1603px #fff, 1707px 1241px #fff, 1783px 2px #fff, 1389px 1292px #fff,
        105px 1103px #fff, 1072px 1994px #fff, 652px 1107px #fff, 882px 228px #fff, 975px 1359px #fff, 1202px 1947px #fff,
        1607px 956px #fff, 1629px 198px #fff, 872px 1968px #fff, 1661px 832px #fff, 996px 99px #fff, 1356px 1983px #fff,
        923px 216px #fff, 1265px 42px #fff, 1565px 1428px #fff, 1351px 1953px #fff, 374px 1470px #fff, 28px 673px #fff,
        51px 1113px #fff, 1181px 839px #fff, 524px 55px #fff, 1470px 1885px #fff, 674px 1536px #fff, 389px 1262px #fff,
        445px 1498px #fff, 363px 1809px #fff, 1819px 1220px #fff, 1552px 644px #fff, 1101px 1125px #fff, 1354px 1979px #fff,
        1240px 1883px #fff, 1273px 195px #fff, 614px 1053px #fff, 1891px 652px #fff, 568px 1127px #fff, 467px 946px #fff,
        655px 305px #fff, 101px 308px #fff, 972px 1636px #fff, 245px 591px #fff, 913px 941px #fff, 1538px 1364px #fff,
        230px 770px #fff, 1886px 280px #fff, 528px 1395px #fff, 558px 1290px #fff, 1087px 561px #fff, 583px 263px #fff,
        1070px 586px #fff, 12px 639px #fff, 1130px 2000px #fff, 426px 1942px #fff, 1290px 1768px #fff, 830px 152px #fff,
        1552px 1510px #fff, 845px 1596px #fff, 1381px 1644px #fff, 954px 966px #fff, 760px 1583px #fff, 413px 703px #fff,
        647px 237px #fff, 1016px 1262px #fff, 1307px 1468px #fff, 1638px 1097px #fff, 698px 956px #fff, 526px 568px #fff,
        1938px 425px #fff, 199px 1458px #fff, 53px 720px #fff, 560px 1px #fff, 1530px 1919px #fff, 884px 1677px #fff,
        1193px 261px #fff, 154px 134px #fff, 637px 20px #fff, 1807px 859px #fff;
    animation: animStar 50s linear infinite;
}

#stars::after {
    content: ' ';

    position: absolute;
    top: 100vh;

    width: 1px;
    height: 1px;

    background: transparent;
    box-shadow: 1492px 1206px #fff, 1636px 1033px #fff, 336px 1680px #fff, 1349px 1455px #fff, 1796px 436px #fff, 195px 994px #fff,
        1289px 1333px #fff, 1671px 1935px #fff, 659px 1552px #fff, 1992px 192px #fff, 1570px 921px #fff, 1149px 936px #fff,
        1580px 528px #fff, 367px 610px #fff, 712px 243px #fff, 472px 1823px #fff, 232px 1047px #fff, 1485px 1325px #fff,
        1493px 964px #fff, 1796px 922px #fff, 748px 132px #fff, 1368px 1318px #fff, 1394px 1006px #fff, 623px 1088px #fff,
        1978px 1657px #fff, 67px 1187px #fff, 1972px 1472px #fff, 1105px 1123px #fff, 440px 99px #fff, 268px 302px #fff,
        1561px 1828px #fff, 1655px 459px #fff, 123px 371px #fff, 934px 1065px #fff, 109px 951px #fff, 775px 736px #fff,
        387px 1754px #fff, 1996px 694px #fff, 1715px 317px #fff, 336px 203px #fff, 529px 117px #fff, 1230px 777px #fff,
        1277px 618px #fff, 1519px 1364px #fff, 855px 253px #fff, 987px 1941px #fff, 52px 211px #fff, 1336px 877px #fff,
        560px 1171px #fff, 1485px 440px #fff, 525px 332px #fff, 54px 30px #fff, 479px 1287px #fff, 647px 130px #fff,
        740px 1838px #fff, 1851px 1684px #fff, 22px 896px #fff, 393px 1708px #fff, 481px 313px #fff, 1605px 770px #fff,
        1974px 1659px #fff, 215px 247px #fff, 1524px 1663px #fff, 350px 1887px #fff, 1739px 1448px #fff, 1281px 1052px #fff,
        1712px 33px #fff, 1909px 1162px #fff, 508px 1008px #fff, 194px 119px #fff, 513px 1031px #fff, 1936px 754px #fff,
        1296px 123px #fff, 324px 735px #fff, 1720px 1116px #fff, 214px 1596px #fff, 1449px 1593px #fff, 1997px 1747px #fff,
        311px 776px #fff, 701px 587px #fff, 239px 1472px #fff, 1225px 638px #fff, 682px 19px #fff, 115px 1826px #fff,
        1344px 1964px #fff, 901px 1794px #fff, 1442px 1693px #fff, 416px 1968px #fff, 111px 538px #fff, 689px 829px #fff,
        955px 246px #fff, 1038px 1386px #fff, 1819px 1147px #fff, 798px 1721px #fff, 1975px 1334px #fff, 448px 204px #fff,
        1700px 581px #fff, 1377px 467px #fff, 1203px 1793px #fff, 693px 781px #fff, 1987px 222px #fff, 738px 1851px #fff,
        1003px 552px #fff, 1006px 1007px #fff, 897px 1891px #fff, 1157px 282px #fff, 130px 604px #fff, 1593px 515px #fff,
        1897px 1729px #fff, 1326px 1258px #fff, 1721px 194px #fff, 609px 1311px #fff, 1309px 238px #fff, 807px 645px #fff,
        1320px 261px #fff, 790px 1732px #fff, 423px 1375px #fff, 1236px 42px #fff, 1588px 1401px #fff, 1623px 132px #fff,
        688px 1948px #fff, 1796px 1150px #fff, 827px 761px #fff, 497px 1600px #fff, 220px 1672px #fff, 575px 1667px #fff,
        583px 1991px #fff, 711px 415px #fff, 1707px 699px #fff, 1229px 1417px #fff, 95px 1737px #fff, 647px 129px #fff,
        1438px 1539px #fff, 39px 1441px #fff, 1331px 557px #fff, 635px 1551px #fff, 1303px 229px #fff, 1428px 1642px #fff,
        62px 193px #fff, 664px 1201px #fff, 817px 935px #fff, 906px 96px #fff, 566px 1783px #fff, 1102px 655px #fff,
        164px 1465px #fff, 1051px 891px #fff, 1355px 1815px #fff, 1365px 327px #fff, 473px 1374px #fff, 102px 651px #fff,
        123px 302px #fff, 269px 12px #fff, 1176px 128px #fff, 863px 1150px #fff, 762px 622px #fff, 333px 62px #fff,
        1558px 306px #fff, 1631px 97px #fff, 824px 975px #fff, 179px 320px #fff, 1724px 1530px #fff, 677px 1454px #fff,
        463px 499px #fff, 462px 1445px #fff, 201px 1017px #fff, 281px 140px #fff, 53px 1641px #fff, 123px 1848px #fff,
        282px 311px #fff, 619px 1074px #fff, 1590px 1010px #fff, 1907px 358px #fff, 1019px 610px #fff, 1721px 1285px #fff,
        1293px 248px #fff, 1586px 1030px #fff, 1517px 1397px #fff, 37px 165px #fff, 268px 1642px #fff, 1010px 1199px #fff,
        1816px 1195px #fff, 762px 153px #fff, 560px 1794px #fff, 1374px 1699px #fff, 354px 945px #fff, 33px 1137px #fff,
        1904px 396px #fff, 266px 256px #fff, 338px 1493px #fff, 1214px 855px #fff, 1794px 1374px #fff, 1175px 461px #fff,
        1714px 432px #fff, 1112px 485px #fff, 299px 687px #fff, 1769px 1433px #fff, 178px 351px #fff, 797px 1745px #fff,
        1792px 332px #fff, 1298px 1820px #fff, 372px 1430px #fff, 1173px 1799px #fff, 86px 945px #fff, 170px 1454px #fff,
        705px 1565px #fff, 1580px 642px #fff, 873px 1251px #fff, 956px 757px #fff, 784px 839px #fff, 1947px 1822px #fff,
        727px 324px #fff, 446px 1072px #fff, 599px 1869px #fff, 624px 19px #fff, 1005px 677px #fff, 1827px 1732px #fff,
        174px 1354px #fff, 1329px 1603px #fff, 724px 1230px #fff, 1725px 1199px #fff, 124px 1433px #fff, 474px 817px #fff,
        1737px 217px #fff, 1771px 118px #fff, 1915px 1636px #fff, 1052px 1304px #fff, 67px 1616px #fff, 1986px 1045px #fff,
        1910px 141px #fff, 207px 1097px #fff, 882px 695px #fff, 977px 1011px #fff, 761px 1510px #fff, 1333px 1622px #fff,
        528px 742px #fff, 673px 1342px #fff, 526px 273px #fff, 352px 1322px #fff, 1292px 718px #fff, 1993px 885px #fff,
        753px 866px #fff, 359px 1348px #fff, 512px 1587px #fff, 1442px 1721px #fff, 680px 144px #fff, 1791px 1772px #fff,
        331px 145px #fff, 790px 1756px #fff, 272px 817px #fff, 1225px 890px #fff, 1192px 1309px #fff, 1868px 323px #fff,
        1698px 536px #fff, 1406px 1976px #fff, 1220px 1682px #fff, 1244px 1441px #fff, 1608px 586px #fff, 1043px 59px #fff,
        974px 433px #fff, 172px 157px #fff, 1952px 1019px #fff, 1155px 835px #fff, 794px 1462px #fff, 1794px 1449px #fff,
        1683px 1647px #fff, 1729px 1831px #fff, 1407px 862px #fff, 278px 220px #fff, 109px 1322px #fff, 439px 1475px #fff,
        522px 621px #fff, 1554px 1984px #fff, 564px 248px #fff, 325px 34px #fff, 400px 1828px #fff, 1498px 421px #fff,
        1305px 233px #fff, 1437px 1828px #fff, 415px 80px #fff, 1507px 1430px #fff, 1894px 632px #fff, 532px 1790px #fff,
        170px 241px #fff, 1571px 1030px #fff, 857px 1785px #fff, 1033px 569px #fff, 1282px 31px #fff, 1964px 1124px #fff,
        189px 834px #fff, 952px 1435px #fff, 1019px 1739px #fff, 1484px 925px #fff, 616px 1558px #fff, 1974px 402px #fff,
        140px 1997px #fff, 1149px 1422px #fff, 1377px 509px #fff, 808px 1227px #fff, 928px 1206px #fff, 1456px 1200px #fff,
        775px 521px #fff, 1466px 1793px #fff, 754px 73px #fff, 719px 774px #fff, 1777px 540px #fff, 1836px 136px #fff,
        1958px 1173px #fff, 340px 1790px #fff, 1433px 486px #fff, 1243px 821px #fff, 289px 1120px #fff, 489px 188px #fff,
        731px 154px #fff, 964px 988px #fff, 1625px 132px #fff, 1838px 3px #fff, 1039px 639px #fff, 1266px 1572px #fff,
        1253px 1951px #fff, 1941px 1017px #fff, 715px 314px #fff, 517px 1899px #fff, 611px 1862px #fff, 1954px 780px #fff,
        112px 190px #fff, 1492px 44px #fff, 1690px 228px #fff, 417px 881px #fff, 381px 373px #fff, 1461px 1533px #fff,
        1036px 1098px #fff, 538px 1361px #fff, 175px 914px #fff, 1175px 1928px #fff, 548px 910px #fff, 1356px 1191px #fff,
        1406px 1018px #fff, 1884px 1446px #fff, 1236px 1058px #fff, 1310px 1171px #fff, 1072px 1694px #fff, 1113px 53px #fff,
        1339px 1106px #fff, 1319px 139px #fff, 603px 1227px #fff, 253px 422px #fff, 529px 432px #fff, 1138px 1502px #fff,
        237px 595px #fff, 876px 834px #fff, 971px 1428px #fff, 1805px 1492px #fff, 588px 33px #fff, 1087px 195px #fff,
        1022px 527px #fff, 1751px 290px #fff, 1455px 1203px #fff, 751px 1780px #fff, 163px 218px #fff, 1945px 793px #fff,
        1896px 341px #fff, 322px 1052px #fff, 1385px 1021px #fff, 1271px 795px #fff, 163px 587px #fff, 1965px 637px #fff,
        495px 1419px #fff, 109px 948px #fff, 1923px 959px #fff, 1135px 49px #fff, 1972px 1460px #fff, 50px 485px #fff,
        1805px 131px #fff, 1244px 810px #fff, 971px 1684px #fff, 1883px 954px #fff, 36px 1542px #fff, 99px 184px #fff,
        123px 1708px #fff, 379px 1410px #fff, 1111px 485px #fff, 622px 695px #fff, 94px 565px #fff, 1688px 258px #fff,
        72px 1891px #fff, 139px 149px #fff, 1875px 91px #fff, 1356px 224px #fff, 1898px 737px #fff, 1778px 1898px #fff,
        560px 78px #fff, 1428px 388px #fff, 854px 1318px #fff, 1488px 1183px #fff, 799px 627px #fff, 1068px 1635px #fff,
        430px 1923px #fff, 1902px 1707px #fff, 1123px 387px #fff, 1253px 655px #fff, 1163px 1104px #fff, 1024px 1078px #fff,
        1832px 381px #fff, 1631px 332px #fff, 567px 506px #fff, 660px 604px #fff, 1108px 591px #fff, 1219px 1666px #fff,
        1707px 1267px #fff, 942px 1850px #fff, 911px 883px #fff, 211px 71px #fff, 689px 303px #fff, 780px 1274px #fff,
        937px 1233px #fff, 734px 919px #fff, 1588px 1425px #fff, 83px 912px #fff, 471px 272px #fff, 782px 1753px #fff,
        1283px 1258px #fff, 1722px 1330px #fff, 919px 1809px #fff, 1033px 70px #fff, 269px 578px #fff, 1830px 77px #fff,
        1054px 1664px #fff, 309px 1878px #fff, 416px 728px #fff, 1799px 731px #fff, 57px 388px #fff, 800px 765px #fff,
        398px 1505px #fff, 1688px 1316px #fff, 584px 430px #fff, 1679px 20px #fff, 820px 294px #fff, 579px 216px #fff,
        1358px 307px #fff, 705px 183px #fff, 1395px 152px #fff, 108px 620px #fff, 1964px 1137px #fff, 131px 240px #fff,
        405px 1997px #fff, 644px 1757px #fff, 1754px 310px #fff, 1465px 867px #fff, 309px 1399px #fff, 1243px 330px #fff,
        981px 339px #fff, 152px 1936px #fff, 731px 341px #fff, 1849px 489px #fff, 944px 1987px #fff, 1519px 114px #fff,
        66px 1257px #fff, 1643px 262px #fff, 218px 1694px #fff, 596px 323px #fff, 735px 1974px #fff, 1340px 1814px #fff,
        1550px 1694px #fff, 107px 923px #fff, 498px 1446px #fff, 1594px 1535px #fff, 1954px 1547px #fff, 233px 1295px #fff,
        1854px 888px #fff, 1742px 1317px #fff, 1735px 1951px #fff, 1998px 977px #fff, 1556px 1693px #fff, 865px 696px #fff,
        365px 453px #fff, 1689px 1708px #fff, 187px 669px #fff, 166px 1052px #fff, 958px 406px #fff, 1077px 1899px #fff,
        1240px 1454px #fff, 1490px 188px #fff, 1462px 436px #fff, 1980px 1776px #fff, 386px 1182px #fff, 1015px 841px #fff,
        1844px 74px #fff, 1454px 270px #fff, 368px 1243px #fff, 1414px 982px #fff, 1983px 1918px #fff, 1740px 1286px #fff,
        379px 891px #fff, 210px 1286px #fff, 1303px 431px #fff, 759px 1228px #fff, 1635px 1964px #fff, 542px 1642px #fff,
        1403px 952px #fff, 862px 1586px #fff, 1023px 404px #fff, 733px 1074px #fff, 1326px 435px #fff, 549px 996px #fff,
        1816px 1690px #fff, 1493px 635px #fff, 1859px 1703px #fff, 1499px 522px #fff, 883px 38px #fff, 348px 927px #fff,
        138px 1923px #fff, 1435px 491px #fff, 1089px 235px #fff, 261px 642px #fff, 997px 1591px #fff, 1303px 740px #fff,
        710px 512px #fff, 453px 813px #fff, 1362px 964px #fff, 1674px 1779px #fff, 1642px 238px #fff, 552px 1038px #fff,
        1185px 1940px #fff, 1643px 740px #fff, 1376px 634px #fff, 1359px 830px #fff, 690px 1718px #fff, 188px 30px #fff,
        1808px 1597px #fff, 1351px 606px #fff, 616px 1740px #fff, 1568px 671px #fff, 167px 19px #fff, 183px 1438px #fff,
        867px 531px #fff, 529px 446px #fff, 1696px 1416px #fff, 1968px 1915px #fff, 1449px 844px #fff, 1650px 707px #fff,
        1869px 1488px #fff, 223px 584px #fff, 369px 400px #fff, 243px 582px #fff, 1518px 1549px #fff, 1583px 998px #fff,
        750px 526px #fff, 999px 1285px #fff, 681px 1176px #fff, 696px 1352px #fff, 837px 1296px #fff, 1425px 1840px #fff,
        829px 529px #fff, 973px 1081px #fff, 22px 1950px #fff, 1109px 443px #fff, 1060px 60px #fff, 1283px 1953px #fff,
        121px 571px #fff, 1135px 1496px #fff, 1408px 864px #fff, 1474px 1686px #fff, 120px 65px #fff, 585px 1158px #fff,
        1571px 1060px #fff, 1500px 1026px #fff, 1775px 434px #fff, 1985px 1687px #fff, 896px 1991px #fff, 221px 222px #fff,
        577px 712px #fff, 1223px 959px #fff, 1957px 294px #fff, 722px 422px #fff, 1300px 1821px #fff, 963px 1449px #fff,
        760px 1615px #fff, 1116px 626px #fff, 600px 1267px #fff, 95px 1279px #fff, 1472px 1291px #fff, 484px 132px #fff,
        1996px 1310px #fff, 1811px 1495px #fff, 1454px 1039px #fff, 1873px 414px #fff, 1561px 747px #fff, 680px 786px #fff,
        1136px 340px #fff, 965px 814px #fff, 1840px 840px #fff, 1034px 851px #fff, 947px 1992px #fff, 1250px 1439px #fff,
        1911px 621px #fff, 32px 931px #fff, 630px 1641px #fff, 666px 1681px #fff, 21px 1725px #fff, 997px 1220px #fff,
        713px 723px #fff, 1036px 299px #fff, 858px 1894px #fff, 122px 1041px #fff, 1661px 804px #fff, 1635px 67px #fff,
        250px 1536px #fff, 621px 1923px #fff, 947px 306px #fff, 329px 687px #fff, 1475px 85px #fff, 1500px 1099px #fff,
        292px 1138px #fff, 1109px 64px #fff, 74px 622px #fff, 769px 1689px #fff, 1781px 1430px #fff, 204px 940px #fff,
        1370px 828px #fff, 1559px 342px #fff, 44px 1603px #fff, 1707px 1241px #fff, 1783px 2px #fff, 1389px 1292px #fff,
        105px 1103px #fff, 1072px 1994px #fff, 652px 1107px #fff, 882px 228px #fff, 975px 1359px #fff, 1202px 1947px #fff,
        1607px 956px #fff, 1629px 198px #fff, 872px 1968px #fff, 1661px 832px #fff, 996px 99px #fff, 1356px 1983px #fff,
        923px 216px #fff, 1265px 42px #fff, 1565px 1428px #fff, 1351px 1953px #fff, 374px 1470px #fff, 28px 673px #fff,
        51px 1113px #fff, 1181px 839px #fff, 524px 55px #fff, 1470px 1885px #fff, 674px 1536px #fff, 389px 1262px #fff,
        445px 1498px #fff, 363px 1809px #fff, 1819px 1220px #fff, 1552px 644px #fff, 1101px 1125px #fff, 1354px 1979px #fff,
        1240px 1883px #fff, 1273px 195px #fff, 614px 1053px #fff, 1891px 652px #fff, 568px 1127px #fff, 467px 946px #fff,
        655px 305px #fff, 101px 308px #fff, 972px 1636px #fff, 245px 591px #fff, 913px 941px #fff, 1538px 1364px #fff,
        230px 770px #fff, 1886px 280px #fff, 528px 1395px #fff, 558px 1290px #fff, 1087px 561px #fff, 583px 263px #fff,
        1070px 586px #fff, 12px 639px #fff, 1130px 2000px #fff, 426px 1942px #fff, 1290px 1768px #fff, 830px 152px #fff,
        1552px 1510px #fff, 845px 1596px #fff, 1381px 1644px #fff, 954px 966px #fff, 760px 1583px #fff, 413px 703px #fff,
        647px 237px #fff, 1016px 1262px #fff, 1307px 1468px #fff, 1638px 1097px #fff, 698px 956px #fff, 526px 568px #fff,
        1938px 425px #fff, 199px 1458px #fff, 53px 720px #fff, 560px 1px #fff, 1530px 1919px #fff, 884px 1677px #fff,
        1193px 261px #fff, 154px 134px #fff, 637px 20px #fff, 1807px 859px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;

    background: transparent;
    box-shadow: 984px 1104px #fff, 1764px 1568px #fff, 868px 1403px #fff, 31px 1777px #fff, 1923px 1490px #fff, 5px 1002px #fff,
        464px 878px #fff, 1344px 510px #fff, 378px 258px #fff, 655px 742px #fff, 594px 1458px #fff, 1319px 628px #fff,
        1199px 586px #fff, 1019px 708px #fff, 357px 259px #fff, 796px 122px #fff, 773px 65px #fff, 1700px 329px #fff,
        1947px 683px #fff, 1296px 420px #fff, 1px 48px #fff, 1039px 1932px #fff, 516px 1389px #fff, 623px 842px #fff,
        1335px 1314px #fff, 1033px 858px #fff, 1618px 338px #fff, 1192px 1505px #fff, 915px 1719px #fff, 687px 525px #fff,
        1115px 1533px #fff, 645px 1237px #fff, 1881px 460px #fff, 622px 400px #fff, 1272px 590px #fff, 118px 66px #fff,
        1686px 936px #fff, 834px 845px #fff, 286px 1145px #fff, 1400px 1490px #fff, 1512px 1033px #fff, 1537px 1788px #fff,
        1625px 1688px #fff, 1929px 1376px #fff, 610px 256px #fff, 896px 1933px #fff, 805px 1425px #fff, 901px 1637px #fff,
        1233px 889px #fff, 475px 1630px #fff, 1633px 1381px #fff, 337px 1px #fff, 210px 890px #fff, 1278px 533px #fff,
        358px 410px #fff, 1506px 1443px #fff, 1577px 313px #fff, 162px 748px #fff, 286px 1781px #fff, 316px 1074px #fff,
        1249px 424px #fff, 309px 1635px #fff, 899px 1831px #fff, 575px 911px #fff, 1465px 65px #fff, 1620px 1361px #fff,
        1538px 786px #fff, 880px 821px #fff, 403px 1570px #fff, 782px 503px #fff, 632px 1557px #fff, 1943px 440px #fff,
        629px 1651px #fff, 452px 710px #fff, 1176px 582px #fff, 54px 683px #fff, 1967px 1166px #fff, 1147px 542px #fff,
        1231px 1077px #fff, 933px 1209px #fff, 1390px 640px #fff, 655px 1271px #fff, 261px 1487px #fff, 1098px 377px #fff,
        131px 400px #fff, 313px 297px #fff, 690px 1323px #fff, 1355px 1350px #fff, 871px 1942px #fff, 1264px 721px #fff,
        252px 1630px #fff, 1100px 376px #fff, 945px 672px #fff, 1859px 1931px #fff, 1457px 10px #fff, 1150px 1219px #fff,
        1623px 1326px #fff, 872px 1382px #fff, 313px 277px #fff, 1200px 992px #fff, 1672px 133px #fff, 1763px 1324px #fff,
        888px 243px #fff, 1796px 47px #fff, 800px 314px #fff, 1219px 1602px #fff, 1141px 728px #fff, 306px 1882px #fff,
        370px 1957px #fff, 60px 939px #fff, 1410px 1234px #fff, 1018px 895px #fff, 1044px 516px #fff, 597px 1622px #fff,
        1830px 1359px #fff, 593px 405px #fff, 1813px 1783px #fff, 673px 537px #fff, 1977px 666px #fff, 1360px 1098px #fff,
        957px 598px #fff, 654px 1115px #fff, 1038px 1764px #fff, 222px 359px #fff, 1446px 1334px #fff, 1710px 1664px #fff,
        1777px 47px #fff, 1386px 491px #fff, 1884px 212px #fff, 1693px 1596px #fff, 262px 715px #fff, 749px 1495px #fff,
        341px 1391px #fff, 1736px 973px #fff, 318px 1778px #fff, 1233px 481px #fff, 970px 1436px #fff, 1378px 1362px #fff,
        246px 1950px #fff, 613px 1814px #fff, 499px 1091px #fff, 163px 1959px #fff, 63px 1332px #fff, 1260px 699px #fff,
        902px 1775px #fff, 500px 203px #fff, 133px 198px #fff, 1616px 1443px #fff, 1086px 593px #fff, 1427px 1041px #fff,
        593px 315px #fff, 1471px 79px #fff, 1583px 1266px #fff, 1541px 1168px #fff, 1522px 787px #fff, 1285px 737px #fff,
        129px 1905px #fff, 134px 1912px #fff, 392px 1703px #fff, 681px 1087px #fff, 3px 542px #fff, 1781px 805px #fff,
        482px 384px #fff, 1855px 126px #fff, 63px 213px #fff, 994px 1786px #fff, 60px 1667px #fff, 1665px 753px #fff,
        1685px 1932px #fff, 496px 537px #fff, 1225px 591px #fff, 777px 725px #fff, 1407px 547px #fff, 913px 1954px #fff,
        1977px 451px #fff, 1508px 1331px #fff, 299px 1600px #fff, 1950px 29px #fff, 725px 629px #fff, 1380px 1887px #fff,
        65px 541px #fff, 1397px 1788px #fff, 1873px 230px #fff, 653px 204px #fff, 1472px 444px #fff, 852px 1458px #fff,
        1400px 484px #fff, 1672px 80px #fff, 1297px 46px #fff, 65px 68px #fff, 1950px 319px #fff, 1514px 272px #fff,
        1500px 1986px #fff, 1137px 1320px #fff, 1050px 644px #fff, 1481px 1914px #fff, 1967px 1345px #fff, 1788px 1400px #fff,
        400px 1149px #fff, 766px 352px #fff;

    animation: animStar 100s linear infinite;
}

#stars2::after {
    content: ' ';

    position: absolute;
    top: 100vh;

    width: 2px;
    height: 2px;

    background: transparent;
    box-shadow: 984px 1104px #fff, 1764px 1568px #fff, 868px 1403px #fff, 31px 1777px #fff, 1923px 1490px #fff, 5px 1002px #fff,
        464px 878px #fff, 1344px 510px #fff, 378px 258px #fff, 655px 742px #fff, 594px 1458px #fff, 1319px 628px #fff,
        1199px 586px #fff, 1019px 708px #fff, 357px 259px #fff, 796px 122px #fff, 773px 65px #fff, 1700px 329px #fff,
        1947px 683px #fff, 1296px 420px #fff, 1px 48px #fff, 1039px 1932px #fff, 516px 1389px #fff, 623px 842px #fff,
        1335px 1314px #fff, 1033px 858px #fff, 1618px 338px #fff, 1192px 1505px #fff, 915px 1719px #fff, 687px 525px #fff,
        1115px 1533px #fff, 645px 1237px #fff, 1881px 460px #fff, 622px 400px #fff, 1272px 590px #fff, 118px 66px #fff,
        1686px 936px #fff, 834px 845px #fff, 286px 1145px #fff, 1400px 1490px #fff, 1512px 1033px #fff, 1537px 1788px #fff,
        1625px 1688px #fff, 1929px 1376px #fff, 610px 256px #fff, 896px 1933px #fff, 805px 1425px #fff, 901px 1637px #fff,
        1233px 889px #fff, 475px 1630px #fff, 1633px 1381px #fff, 337px 1px #fff, 210px 890px #fff, 1278px 533px #fff,
        358px 410px #fff, 1506px 1443px #fff, 1577px 313px #fff, 162px 748px #fff, 286px 1781px #fff, 316px 1074px #fff,
        1249px 424px #fff, 309px 1635px #fff, 899px 1831px #fff, 575px 911px #fff, 1465px 65px #fff, 1620px 1361px #fff,
        1538px 786px #fff, 880px 821px #fff, 403px 1570px #fff, 782px 503px #fff, 632px 1557px #fff, 1943px 440px #fff,
        629px 1651px #fff, 452px 710px #fff, 1176px 582px #fff, 54px 683px #fff, 1967px 1166px #fff, 1147px 542px #fff,
        1231px 1077px #fff, 933px 1209px #fff, 1390px 640px #fff, 655px 1271px #fff, 261px 1487px #fff, 1098px 377px #fff,
        131px 400px #fff, 313px 297px #fff, 690px 1323px #fff, 1355px 1350px #fff, 871px 1942px #fff, 1264px 721px #fff,
        252px 1630px #fff, 1100px 376px #fff, 945px 672px #fff, 1859px 1931px #fff, 1457px 10px #fff, 1150px 1219px #fff,
        1623px 1326px #fff, 872px 1382px #fff, 313px 277px #fff, 1200px 992px #fff, 1672px 133px #fff, 1763px 1324px #fff,
        888px 243px #fff, 1796px 47px #fff, 800px 314px #fff, 1219px 1602px #fff, 1141px 728px #fff, 306px 1882px #fff,
        370px 1957px #fff, 60px 939px #fff, 1410px 1234px #fff, 1018px 895px #fff, 1044px 516px #fff, 597px 1622px #fff,
        1830px 1359px #fff, 593px 405px #fff, 1813px 1783px #fff, 673px 537px #fff, 1977px 666px #fff, 1360px 1098px #fff,
        957px 598px #fff, 654px 1115px #fff, 1038px 1764px #fff, 222px 359px #fff, 1446px 1334px #fff, 1710px 1664px #fff,
        1777px 47px #fff, 1386px 491px #fff, 1884px 212px #fff, 1693px 1596px #fff, 262px 715px #fff, 749px 1495px #fff,
        341px 1391px #fff, 1736px 973px #fff, 318px 1778px #fff, 1233px 481px #fff, 970px 1436px #fff, 1378px 1362px #fff,
        246px 1950px #fff, 613px 1814px #fff, 499px 1091px #fff, 163px 1959px #fff, 63px 1332px #fff, 1260px 699px #fff,
        902px 1775px #fff, 500px 203px #fff, 133px 198px #fff, 1616px 1443px #fff, 1086px 593px #fff, 1427px 1041px #fff,
        593px 315px #fff, 1471px 79px #fff, 1583px 1266px #fff, 1541px 1168px #fff, 1522px 787px #fff, 1285px 737px #fff,
        129px 1905px #fff, 134px 1912px #fff, 392px 1703px #fff, 681px 1087px #fff, 3px 542px #fff, 1781px 805px #fff,
        482px 384px #fff, 1855px 126px #fff, 63px 213px #fff, 994px 1786px #fff, 60px 1667px #fff, 1665px 753px #fff,
        1685px 1932px #fff, 496px 537px #fff, 1225px 591px #fff, 777px 725px #fff, 1407px 547px #fff, 913px 1954px #fff,
        1977px 451px #fff, 1508px 1331px #fff, 299px 1600px #fff, 1950px 29px #fff, 725px 629px #fff, 1380px 1887px #fff,
        65px 541px #fff, 1397px 1788px #fff, 1873px 230px #fff, 653px 204px #fff, 1472px 444px #fff, 852px 1458px #fff,
        1400px 484px #fff, 1672px 80px #fff, 1297px 46px #fff, 65px 68px #fff, 1950px 319px #fff, 1514px 272px #fff,
        1500px 1986px #fff, 1137px 1320px #fff, 1050px 644px #fff, 1481px 1914px #fff, 1967px 1345px #fff, 1788px 1400px #fff,
        400px 1149px #fff, 766px 352px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;

    background: transparent;
    box-shadow: 1466px 747px #fff, 534px 1718px #fff, 694px 662px #fff, 1611px 1191px #fff, 190px 1119px #fff, 1001px 1248px #fff,
        1985px 840px #fff, 1296px 1355px #fff, 1509px 722px #fff, 1122px 1676px #fff, 686px 654px #fff, 1677px 1601px #fff,
        719px 1584px #fff, 221px 303px #fff, 1786px 1411px #fff, 1102px 461px #fff, 1179px 1287px #fff, 388px 320px #fff,
        1517px 402px #fff, 649px 1992px #fff, 914px 76px #fff, 1921px 1873px #fff, 1569px 100px #fff, 1593px 1067px #fff,
        1305px 1768px #fff, 871px 1992px #fff, 1835px 1843px #fff, 792px 785px #fff, 1364px 812px #fff, 1687px 1668px #fff,
        162px 1515px #fff, 350px 1215px #fff, 1916px 1200px #fff, 995px 239px #fff, 949px 39px #fff, 1798px 489px #fff,
        1570px 188px #fff, 243px 1376px #fff, 1846px 1483px #fff, 1400px 1298px #fff, 1109px 1009px #fff, 199px 658px #fff,
        964px 600px #fff, 1633px 3px #fff, 1260px 17px #fff, 1521px 952px #fff, 1552px 1279px #fff, 1356px 571px #fff,
        118px 1673px #fff, 1384px 1531px #fff, 31px 670px #fff, 991px 1336px #fff, 1829px 1318px #fff, 1462px 336px #fff,
        924px 1747px #fff, 999px 537px #fff, 961px 13px #fff, 1100px 570px #fff, 454px 151px #fff, 1584px 760px #fff,
        760px 1674px #fff, 1987px 652px #fff, 32px 640px #fff, 1378px 843px #fff, 1744px 363px #fff, 739px 1897px #fff,
        1855px 256px #fff, 67px 886px #fff, 635px 424px #fff, 1719px 1944px #fff, 2000px 1549px #fff, 1190px 788px #fff,
        1489px 139px #fff, 720px 743px #fff, 1620px 1915px #fff, 758px 1331px #fff, 1550px 1689px #fff, 1418px 169px #fff,
        539px 195px #fff, 1846px 293px #fff, 1735px 377px #fff, 768px 1900px #fff, 1370px 1660px #fff, 438px 1369px #fff,
        1613px 496px #fff, 64px 246px #fff, 167px 1093px #fff, 246px 1528px #fff, 1655px 1315px #fff, 1510px 1302px #fff,
        336px 1069px #fff, 1923px 446px #fff, 722px 285px #fff, 1485px 1114px #fff, 33px 36px #fff, 1449px 575px #fff,
        697px 647px #fff, 1592px 1248px #fff, 763px 1051px #fff, 1352px 790px #fff;

    animation: animStar 150s linear infinite;
}

#stars3::after {
    content: ' ';

    position: absolute;
    top: 100vh;

    width: 3px;
    height: 3px;

    background: transparent;
    box-shadow: 1466px 747px #fff, 534px 1718px #fff, 694px 662px #fff, 1611px 1191px #fff, 190px 1119px #fff, 1001px 1248px #fff,
        1985px 840px #fff, 1296px 1355px #fff, 1509px 722px #fff, 1122px 1676px #fff, 686px 654px #fff, 1677px 1601px #fff,
        719px 1584px #fff, 221px 303px #fff, 1786px 1411px #fff, 1102px 461px #fff, 1179px 1287px #fff, 388px 320px #fff,
        1517px 402px #fff, 649px 1992px #fff, 914px 76px #fff, 1921px 1873px #fff, 1569px 100px #fff, 1593px 1067px #fff,
        1305px 1768px #fff, 871px 1992px #fff, 1835px 1843px #fff, 792px 785px #fff, 1364px 812px #fff, 1687px 1668px #fff,
        162px 1515px #fff, 350px 1215px #fff, 1916px 1200px #fff, 995px 239px #fff, 949px 39px #fff, 1798px 489px #fff,
        1570px 188px #fff, 243px 1376px #fff, 1846px 1483px #fff, 1400px 1298px #fff, 1109px 1009px #fff, 199px 658px #fff,
        964px 600px #fff, 1633px 3px #fff, 1260px 17px #fff, 1521px 952px #fff, 1552px 1279px #fff, 1356px 571px #fff,
        118px 1673px #fff, 1384px 1531px #fff, 31px 670px #fff, 991px 1336px #fff, 1829px 1318px #fff, 1462px 336px #fff,
        924px 1747px #fff, 999px 537px #fff, 961px 13px #fff, 1100px 570px #fff, 454px 151px #fff, 1584px 760px #fff,
        760px 1674px #fff, 1987px 652px #fff, 32px 640px #fff, 1378px 843px #fff, 1744px 363px #fff, 739px 1897px #fff,
        1855px 256px #fff, 67px 886px #fff, 635px 424px #fff, 1719px 1944px #fff, 2000px 1549px #fff, 1190px 788px #fff,
        1489px 139px #fff, 720px 743px #fff, 1620px 1915px #fff, 758px 1331px #fff, 1550px 1689px #fff, 1418px 169px #fff,
        539px 195px #fff, 1846px 293px #fff, 1735px 377px #fff, 768px 1900px #fff, 1370px 1660px #fff, 438px 1369px #fff,
        1613px 496px #fff, 64px 246px #fff, 167px 1093px #fff, 246px 1528px #fff, 1655px 1315px #fff, 1510px 1302px #fff,
        336px 1069px #fff, 1923px 446px #fff, 722px 285px #fff, 1485px 1114px #fff, 33px 36px #fff, 1449px 575px #fff,
        697px 647px #fff, 1592px 1248px #fff, 763px 1051px #fff, 1352px 790px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-1000px);
    }
}
