@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Fira Sans'),
  url('../fonts/FiraSans-Regular.woff2') format('woff2'),
  url('../fonts/FiraSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: local('Fira Sans'),
  url('../fonts/FiraSans-Medium.woff2') format('woff2'),
  url('../fonts/FiraSans-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Fira Sans'),
  url('../fonts/FiraSans-MediumItalic.woff2') format('woff2'),
  url('../fonts/FiraSans-MediumItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Fira Sans'),
  url('../fonts/FiraSans-Bold.woff2') format('woff2'),
  url('../fonts/FiraSans-Bold.ttf') format('ttf');
}
