.favs {
    padding-left: 20px;
    grid-area: favs;
    border-left: 2px solid var(--text-main);
}

.favs__title {
    margin-top: 0;
    line-height: 1;
}

.favs__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.favs__item {
    padding: 10px;
    font-weight: 500;
}

.favs__item:hover {
    cursor: pointer;
    opacity: .75;
}

