.favs {
    grid-area: favs;
    outline: 1px dashed black;
}

.favs__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.favs__item {
    padding: 10px;
    font-weight: 500;
}

.favs__item:hover {
    cursor: pointer;
    opacity: .75;
}

